<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <title>App</title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap_theme.min.css">
</head>
<body>
  <ui-view></ui-view>
  <script src="/angular/angular.min.js"></script>
  <script src="/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/javascript/app.js"></script>
  <script src="/javascript/services/HomeFactory.js"></script>
  <script src="/javascript/controllers/HomeController.js"></script>
  <script src="/javascript/controllers/AddPenController.js"></script>
  <script src="/javascript/controllers/EditPenController.js"></script>
</body>
</html>
