<div ng-controller="EditPenController as vm">
  <br>
  <br>
  <br>
  <form class="well container" ng-submit="vm.editPen()">
    <label>Name</label>
    <input required class="form-control" ng-model="vm.pen.name" placeholder="Name...">
    <label>Color</label>
    <input required class="form-control" ng-model="vm.pen.color" placeholder="Color...">
    <label>Image Url</label>
    <input required class="form-control" ng-model="vm.pen.img" placeholder="Image Url...">
    <div style="text-align:center;">
      <button type="submit" class="btn btn-lg btn-success">Submit</button>
    </div>
  </form>
</div>
